## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>


  <div class="container-fluid wrapper-footer mdb-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          <nav class="navbar site-nav navbar-expand-sm mdb-nav" aria-label="${_('About')}">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="https://mindsdb.com">MindsDB</a></li>
            </ul>
          </nav>

          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
        </div>
        <div class="col-md-3">
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a href="https://mindsdb.com" rel="noopener" target="_blank">
                  <img src="${static.url('images/logo.png')}" width="50"/>
                </a>
                <a href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
                  <img src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="140" />
                </a>
              </p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>